html {
    background: url(./Pokeball_image.png) no-repeat center fixed; 
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    color: whitesmoke;
    font-style: italic;
   font-family: Baskerville, 'Times New Roman', serif;
   text-align: center;
   margin:auto;
   align-items: center;
   padding-bottom: 20px;
    
  }
  
.wrapper {
    display: inline-block;
  align-items: center;
  height: 100%;
  margin: auto;
  padding: 50px;
  }  

  .topnav {
    align-items: center;
    text-align: center;
  }

  body{ 
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    margin: 0 auto;
    width: 100%;
}

