html {
    background: url(./Pokeball.png) no-repeat center fixed; 
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    /* background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(255,0,0,1) 65%, rgba(255,168,0,1) 100%); */
    /* color: whitesmoke;     */
    font-style: italic;
   font-family: Baskerville, 'Times New Roman', serif;
   text-align: center;
   margin:auto;
   align-items: center;
   padding-bottom: 20px;
   background: -webkit-linear-gradient(left,#020024 0%, #090979 35%, #00d4ff 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

  }


  h2 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 15px;
    
  }
  
.wrapper {
    display: inline-block;
  align-items: center;
  height: 100%;
  margin: auto;
  padding: 50px;
  }  

  #pokemon-search {
    align-items: center;
    text-align: center;
  }

  body{ 
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    margin: 0 auto;
    width: 90%;
}

.pokemon {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	max-width: 350px;
  background-color: lightgray;
  border: solid;
  border-color: black;
  margin-top: 50px;
  height: 100%;

}



.pokemon .info {
  width: 150px;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  text-align: center;
}

#pokemon-comment {
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

#allComments {
  border: 2px solid;
  border-color: black;
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 41%, rgba(179,53,53,1) 52%, rgba(255,0,0,1) 63%);
  justify-content: center;
  min-height: 40px;
  max-height: 100%;
  color: black;

  
 
}

#commentEle {
  display: inline-block;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  min-width: 50px;
  max-width: 300px;
  padding-bottom: 5px;
}

#comment-section {
  margin-top: 50px;
}